body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-brand {
  padding-top: 0px;
  }
 .navbar-form{
  padding-top: 1px;
  padding-left: 422px;
 }
 .btn-group{
  padding-top: 1px;
  padding-right: 374px;
 } 
